{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
    <nav class="navbar">
        <ul class="nav navbar" >
            <li class="nav-item">
                <a href="/" class="nav-link text-white">Home</a>
            </li>
            <li class="nav-item">
                <a href="/questions" class="nav-link text-white">Browse</a>
            </li>
        </ul>
    </nav>
{% endblock %}
